<!DOCTYPE html>
{% extends "base_dashboard.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Title</title>
</head>
<body>

<h2>Edit User</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
</form>
<h3>Current Group</h3>
<table>
    <tr>
        <th>Group Name</th>
    </tr>
    {% for group in form.instance.groups.all %}
    <tr>
        <td>{{ group.name }}</td>
    </tr>
    {% endfor %}
</table>

</body>
{% endblock %}
</html>