<!DOCTYPE html>
{% extends "base_dashboard.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Prescriptions</title>
    <style>
        .centered-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .centered-header {
        text-align: center;
    }
    </style>
</head>
<body>
    <h1 class="centered-header">Manage Prescriptions:</h1>
    <div class="centered-div">
    <table class="table table-bordered">
        <tr>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Issue Time</th>
            <th>Medication Details</th>
            <th>Actions</th>
        </tr>
        {% for prescription in prescriptions %}
        <tr>
            <td>{{ prescription.doctor }}</td>
            <td>{{ prescription.patient }}</td>
            <td>{{ prescription.issue_datetime }}</td>
            <td>{{ prescription.medication_details }}</td>
            <td>
                <a href="{% url 'edit_prescription' prescription.id %}">Edit</a> |
                <a href="{% url 'delete_prescription' prescription.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
{% endblock %}
</html>