{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Admin Dashboard</h1>

    {% if user.is_authenticated %}

    <p>User is signed in</p>
    <p> hello {{ user.username }} </p>
    
    {% else %}
    <button onclick="location.href='{% url 'login' %}'">Login</button>
    <button onclick="location.href='{% url 'register' %}'">Register</button>
    {% endif %}
</body>
{{ redirect_to_login_immediately }}
{% endblock %}

</html>